torch
# Pour Apple Silicon (MPS), installer torch via pip ou conda selon https://pytorch.org/get-started/locally/
torchvision
matplotlib
fastapi
uvicorn
streamlit
numpy
pillow
requests
streamlit-drawable-canvas
scipy
pydantic
certifi 